<% include partials/header %>
<h1>Results:</h1>

<% data["Search"].forEach(function(movie) { %>
    <li><%= movie["Title"] %> - <%= movie["Year"] %></li>
<% }); %>
<%= data["Search"][0]["Title"] %>
<% include partials/footer %>