<% include partials/header %>

<div class="container">
    <h1>Results:</h1>
</div>
<div class="container">    
    <% data["Search"].forEach(function(movie) { %>
        <div class="result col-md-4">
           <h4><%= movie["Title"] %> - <%= movie["Year"] %></h4>
        </div>
    <% }); %>

<% include partials/footer %>