html, body {
    background-image: url("camera.png");
    height:100%;
}

h1 {
    font-family: 'Oleo Script Swash Caps', cursive;
    font-weight: 700;
}

h2{
    font-size: 20px;
    height: 50px;
    margin: 0;
}

img {
    border-radius: 10px;
    height: 450px;
    width: 300px;
    display: block;
    margin: auto;
}

.container {
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
}

.container searchwindow {
    
    width: 700px;
    height: 150px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.col-md-4{
    padding: 10px;
}

.input-group {
    padding: 10px 10px;
}

.result {
    border: 3px solid #ffcf3f;
    border-radius: 10px;
    height:520px;
    padding: 10px;
    background-color: white;
}

#title {
    width:75%;
}

#genre{
    width:25%;
}
