html, body {
    background-image: url("camera.png");
    height:100%;
}

h1 {
    font-family: 'Oleo Script Swash Caps', cursive;
    font-weight: 700;
}

.container {
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
}

.container searchwindow {
    
    width: 700px;
    height: 150px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.input-group {
    padding: 10px 10px;
}

.result {
    background-color: #ffcf3f;
    border-radius: 10px;
    height: 200px;
    width: 30%;
    margin: 1.66% 1.66%;
}

#title {
    width:75%;
}

#genre{
    width:25%;
}
